# Ignore everything
*

# Keep only website files
!.gitignore
!index.html
!index.css
!index.js
!old-index.html
!terms.html
!privacy.html
!accessibility.html
!thankyou.html
!demo.html
!test-testimonials.html
!demo-order.html
!upsell.html
!audio3.png
!assets/
!assets/**
!gemini-omni/
!gemini-omni/**
!ai-videos/
!ai-videos/**
!sticker-trend/
!sticker-trend/**
